.report-container {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.no-print {
    margin-bottom: 0;
}

@media print {
    .no-print {
        display: none; /* Hide elements like buttons when printing */
    }

    @page {
        size: A4 landscape; /* Set the page size for printing */
        margin: 0; /* Remove default margins */
    }

    body {
        margin: 0;
        padding: 0;
    }
}

.report-footer {
    /* position: fixed;
    bottom: 0; */
    /* margin-top: 15cm; */
    display: absolute;
    flex-direction: row;
    align-items: end;
    position: absolute;
    /* width: 100%;
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #dee2e6; */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Khmer OS Battambang;
    font-size: 8pt;
    border: 1px solid;
}

th,
td {
    border: 1px solid;
}
